h1 {
  font-size: 23px;
  font-style: italic;
  color: brown;
}

.Dictionary section {
  background: rgb(245, 233, 212);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
}
.Dictionary input {
  font-size: 20px;
  font-style: italic;
  width: 75%;
  padding: 6px 4px;
  border-radius: 6px;
  color: rgb(114, 89, 89);
}
