.Meaning h3 {
  font-size: 20px;
  font-weight: bold;
  color: rgb(77, 56, 30);
  text-transform: capitalize;
}

.Meaning .define {
  color: rgb(51, 18, 18);
  font-style: bold;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 7px;
}

.Meaning .example {
  color: red;
  font-style: italic;
  font-weight: 400px;
  margin-bottom: 20px;
}

.Meaning .synonyms {
  color: rgb(51, 4, 4);
  font-style: bold;
  text-decoration: underline;
  margin-top: 10px;
}
