.Phonetic {
  margin: 15px 0;
}

.Phonetic a {
  box-shadow: inset 0 0 0 0 #083849;
  color: #083849;
  font-size: 20px;
  margin: 0 -0.25rem;
  padding: 0 -0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.Phonetic a:hover {
  box-shadow: inset 100px 0 0 0 #0d556e;
  color: white;
}

.Phonetic .text {
  opacity: 0.5;
  color: black;
  font-size: 15px;
  font-weight: bold;
}
